h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

/*** Activity ***/
.activity {
    background-color: #FBFBFB;
    padding: 1rem;
    border-radius: 5px;
    height: 50%;
}

.activity .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.activity h2 {
    color: #20253A;
}

.activity ul {
    display: flex;
    list-style-type: none;
}

.activity li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #74798C;
}

.activity li:first-child {
    margin-right: 3rem;
}

.activity li::after {
    content: '';
    position: absolute;
    left: -15px;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

.activity li:first-child:after {
    background-color: #282D30;
}

.activity li:last-child:after {
    background-color: #E60000;
}

.activity .custom-tooltip {
    display: flex;
    flex-direction: column;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: #E60000;
}

.activity .custom-tooltip span:first-child {
    margin-bottom: 1rem;
}


/*** Average session time ***/
.time {
    background-color: #E60000;
    width: 32%;
    height: 100%;
    border-radius: 5px;
    padding: 1rem;
}

.time .top {
    margin-bottom: 2rem;
}

.time h2 {
    color: #fff;
}

.time .custom-tooltip {
    background-color: #fff;
    border: none;
    outline: none;
    padding: .5rem 1rem;
}

.time .recharts-responsive-container {
    height: 90% !important;
}



/*** Score ***/
.score {
    position: relative;
    background-color: #FBFBFB;
    width: 32%;
    height: 100%;
    border-radius: 5px;
    padding: 1rem;
}

.score-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

.score-label span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 26px;
    color: #282D30;
}

.score-label span span {
    display: block;
    width: 50%;
    font-weight: 500;
    font-size: 16px;
    color: #74798C;
}